<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baqsoft.listas" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.overview.ListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.edit.EditItemActivity"
            android:label="Edit Item"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <provider
            android:name=".contentprovider.ListasContentProvider"
            android:authorities="com.baqsoft.listas.provider" >
        </provider>
    </application>
</manifest>
